:root {
	--tomato: #e66751;
	--chrysler-blue: #431dd7;
	--picton-blue: #48b8f4;
	--liver: #654843;
	--hunyadi-yellow: #dda646;
	--gunmetal: #333842;
	--dark-gray: #3b414d;
	--cadet-gray: #5d6772;
	--platinum: #ffffff;
	--tan: #d4b187;
}
*,
::before,
::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font-size: 1vw;
	font-family: 'Josefin Sans', sans-serif;
	font-size: clamp(14px, 1.2vw, 16px);
}
h1 {
	font-family: 'Josefin Sans', sans-serif;
}
h2 {
	font-family: 'Merriweather Sans', sans-serif;
}
h3 {
	font-family: 'Karla', sans-serif;
}
h4 {
	font-family: 'Roboto Mono', monospace;
}
#navbar {
	position: fixed;
	top: 0px;
	width: 12vw;
	height: 100vh;
}
@media screen and (min-width: 1366px) {
	body {
		display: grid;
		grid-template-columns: 12vw 86.8vw;
		grid-template-areas: 'header main';
		grid-template-rows: auto;
		overflow: hidden;

		background: var(--gunmetal);
	}
	#header {
		position: fixed;
		top: 0;
		width: 12vw;
		background: var(--cadet-gray);
		height: 100vh;
		grid-area: header;
	}

	#skip-link {
		display: none;
		position: absolute;
		top: -100px;
	}
	#navbar {
		display: flex;
		flex-flow: nowrap column;
		gap: 0.5em;
		height: 100vh;
	}
	#portfolio-img {
		width: 9.7vw;
		border-radius: 50%;
		padding: 3px;
		border: 3px solid var(--picton-blue);
		margin-top: 1em;
		background: var(--platinum);
	}
	#primary-info {
		flex: 0 1 8vw;
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
		color: white;
	}
	#toggle,
	.toggle-menu {
		display: none;
		width: 0px;
		height: 0px;
	}
	.text-info {
		flex: 0 1 5vw;
		display: flex;
		flex-flow: nowrap column;
		justify-content: center;
		align-items: center;
	}
	.text-info h1 {
		font-size: 1.2vw;
		font-family: 'Merriweather Sans', sans-serif;
	}
	.text-info h3 {
		font-weight: 400;
		font-style: italic;
		font-size: 1.1vw;

		text-shadow: 0px 0px 4px rgb(37, 39, 41);
	}
	#sections-list {
		position: relative;
		top: 14vw;
		flex: 0 1 15vw;
		display: flex;
		flex-flow: nowrap column;
	}
	.nav-item {
		display: flex;
		list-style-type: none;
		font-size: 2vw;
		width: 100%;
		justify-content: space-around;
		font-size: 1.2em;
	}
	.nav-item .link {
		width: 65%;
		text-align: center;
		color: var(--platinum);
		text-decoration: none;
		margin-top: 1.2em;
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid var(--platinum);
	}

	.nav-item .link:hover,
	.nav-item .link:focus {
		transition-delay: 0.1s;
		transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transition: 0.5s;
		color: var(--picton-blue);
		width: 98%;
		border-bottom: 1px solid var(--picton-blue);
	}
	.link h3 {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.3vw;
		margin: 0.3em 0;
		font-weight: 600;
		letter-spacing: -2px;
	}

	#social-media__list {
		position: relative;
		top: 14vw;
		flex: 0 1 6vw;
		display: flex;
		list-style: none;
		justify-content: space-around;
		width: 80%;
		height: 5.5%;
		margin: 0 auto;
	}
	.social-media-link {
		display: flex;
		width: 2.1vw;
		height: 2.1vw;
		text-decoration: none;
		background: var(--platinum);
		color: var(--gunmetal);
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.social-media-link i {
		position: relative;
		font-size: 1.5vw;
		text-align: center;
		top: 1.2px;
		right: 0.5px;
	}
	.social-media-link:hover,
	.social-media-link:focus {
		font-size: 1.6vw;
		background: var(--cadet-gray);
		color: var(--picton-blue);
		width: 2.3vw;
		height: 2.3vw;
		transition-delay: 0.1s;
		border: 1px solid var(--picton-blue);
		transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transition: 0.5s;
	}
	#portfolio-content {
		display: grid;
		scroll-behavior: smooth;
		grid-area: main;
		overflow: hidden;
		overflow-y: scroll;
		height: 100vh;
		width: 88vw;
		background: var(--gunmetal);
		color: var(--platinum);
		perspective: 3px;
		grid-template-rows: repeat(4, minmax(100vh, 1fr));
	}
	#portfolio-content::-webkit-scrollbar,
	#portfolio-content::-webkit-scrollbar-track {
		background: var(--platinum);
		width: 10px;
	}
	#portfolio-content::-webkit-scrollbar-thumb {
		background: var(--picton-blue);
		border-radius: 5px;
		transform: perspective(-20px);
	}
	.section {
		transform-style: preserve-3d;
		position: relative;
		z-index: 9999;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: nowrap column;
		background: var(--gunmetal);
	}
	#welcome-section {
		position: relative;
		z-index: -1;
		height: 100vh;
		background: transparent;
		display: flex;
		background: linear-gradient(180deg, rgba(242, 253, 255, 0) 45%, var(--gunmetal) 99%);
	}
	.welcome-message {
		position: absolute;
		top: 20%;
		left: 15%;
		font-size: 2.5vw;
	}
	#name {
		position: absolute;
		top: 35%;
		left: 20%;
		font-size: 5vw;
	}
	#animated-text {
		position: absolute;
		display: flex;
		justify-content: center;
		top: 51%;
		left: 10%;
	}
	.static-text,
	.cursor {
		font-size: 3vw;
	}
	.cursor {
		color: #048aff;
		animation: blink 1s linear infinite;
	}
	@keyframes blink {
		0% {
			opacity: 100%;
		}
		50% {
			opacity: 0%;
		}
	}
	#type-writers {
		color: #048aff;
		font-weight: 900;
		font-size: 3.2vw;
	}
	.parallax::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: translateZ(-1px) scale(1.5);
		background-size: 100%;
	}
	.bg::after {
		background: url('https://i.pinimg.com/originals/53/f6/87/53f6878d1e1dc5c18518742bc3894bab.jpg') center center no-repeat;
		background-size: cover;
	}
	#about-section {
		position: relative;
		top: 0;
		height: 100vh;
		width: 100%;
	}
	#about-info__container {
		position: relative;
		display: grid;
		height: 100vh;
		width: 100%;
		grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr;
		padding: 0.5em;
	}
	.section__title {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 2em;
		margin: 1vw 0;
	}

	.welcome-text {
		text-align: justify;
		width: 85vw;
		height: 7vh;
		margin-bottom: 5vh;
		position: relative;
		left: 1em;
	}
	.highlight {
		color: var(--picton-blue);
		font-weight: 600;
	}
	.about-div {
		position: relative;
		left: 1em;
	}
	.details-title {
		position: relative;
		font-weight: 800;
		font-size: 1.4vw;
		margin: 2vh 0;
	}
	.details-lists {
		display: grid;
		grid-template-columns: repeat(2, minmax(100px, 1fr));
		width: 90vw;
	}
	.personal-details__list {
		position: relative;
		width: 22vw;
		display: flex;
		flex-flow: nowrap column;
		justify-content: space-around;
		height: 100%;
	}

	.detail-item {
		display: flex;
		justify-content: space-between;
	}
	.detail-item span {
		text-align: justify;
	}
	.detail-item:nth-child(4) > .detail-info {
		background: var(--picton-blue);
		font-weight: 600;
		padding: 0.2em;
		border-radius: 5px;
	}
	.detail-title {
		font-weight: 600;
		color: var(--picton-blue);
	}
	.personal-hobbies__list {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, minmax(100px, 1fr));
		grid-template-rows: repeat(2, minmax(100px, 1fr));
		gap: 1em;
		justify-items: center;
		align-items: center;
		width: 41.45vw;
	}
	.hobbie-item {
		display: grid;
		justify-items: center;
		align-content: space-evenly;
		gap: 1em;
		background: var(--cadet-gray);
		width: 80%;
		height: 80%;
		padding: 1.5em;
		border-radius: 0.5em;
	}
	.hobbie-item:hover {
		background: var(--picton-blue);
		transition-delay: 0.1s;
		transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transition: 0.5s;
	}
	.fa-solid {
		font-size: 1.5em;
	}
	.fa-clipboard,
	.fas {
		font-size: 1.3em;
		margin: 0.2em;
	}
	.CV-button {
		position: relative;
		margin: 5em auto;
	}
	.CV-button a {
		text-decoration: none;
		font-size: 1.2em;
		color: var(--platinum);
		padding: 1em;
		background: var(--cadet-gray);
		border-radius: 5px;
		border: none;
		transition-delay: 0.1s;
		transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
		transition: 0.5s;
		overflow: hidden;
		text-decoration: none;
	}
	.CV-button a:hover {
		background: var(--picton-blue);
		border-radius: 15px;
		padding: 1.05em;
		font-size: 1.25em;
	}
	#experience {
		height: 100vh;
		width: 100%;
		margin-bottom: 5vh;
	}

	#experience-info__container {
		display: grid;
		grid-template-columns: 0.6fr 1.1fr;
		grid-template-rows: 0.6fr 1.1fr;
		grid-template-areas:
			'cinepolis cinepolis'
			'algar allus';
		gap: 0.55vw;
	}
	#cinepolis {
		grid-area: cinepolis;
		border-bottom: 1px solid var(--picton-blue);
		width: 86vw;
	}
	#algar {
		grid-area: algar;
		border-top: 1px solid var(--picton-blue);
		border-right: 1px solid var(--picton-blue);
		width: 38vw;
	}
	#allus {
		grid-area: allus;
		border-top: 1px solid var(--picton-blue);
		border-left: 1px solid var(--picton-blue);
		width: 47.5vw;
	}
	.job-title {
		font-size: 1.2vw;
	}

	.job-experience {
		position: relative;
		left: 1vw;
		background: var(--cadet-gray);
		padding: 0.2em;
		text-align: justify;
	}
	.job-detail {
		font-weight: 300;
		font-family: 'Roboto Mono', monospace;
		font-size: 0.8em;
		line-height: 17px;
	}
	.job-info > h4:nth-child(2) {
		color: var(--picton-blue);
		font-size: 1.1vw;
		line-height: 1.2vw;
		font-weight: 500;
	}
	.job-info > h4:nth-child(4) {
		margin-bottom: 0.5vw;
	}
	.job-summary > p {
		margin: 0.3vw 0;
	}
	.job-summary > ul > li {
		margin: 0.2vw 0 0.2vw 1vw;
	}
	.job-skills {
		display: none;
	}
	#projects {
		width: 100%;
		gap: 1em;
		height: 95vh;
		display: grid;
		/* align-content: center; */
		justify-content: start;
		align-items: center;
		justify-items: center;
	}
	#projects,
	#projects-gallery {
		width: 100%;
		gap: 1em;
		height: 100vh;
		display: grid;
	}

	#projects-gallery {
		display: grid;
		margin-left: 2em;
		width: 85vw;
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
		align-content: space-around;
		justify-items: center;
	}
	.project-img,
	.project-title--over {
		width: 28vw;
		height: 19.5vw;
	}
	.project-tile {
		display: flex;
		width: 28vw;
		height: 19.5vw;
		justify-content: center;
		align-items: center;
	}
	.project_link {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.project-title--over {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		color: transparent;
	}
	.project-title--over:hover {
		opacity: 0.8;
		background: var(--picton-blue);
		color: var(--platinum);
	}
}
@media screen and (max-width: 1365px) {
	* {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		list-style: none;
		text-decoration: none;
		font-size: 2vw;
		font-size: clamp(18px, 32px, 2vw);
	}
	img {
		width: 10vw;
	}
}
