:root {
	--tomato: #e66751;
	--chrysler-blue: hsla(252, 76%, 48%, 1);
	--picton-blue: #48b8f4;
	--liver: hsla(9, 20%, 33%, 1);
	--hunyadi-yellow: hsla(38, 69%, 57%, 1);
	--gunmetal: #333842;
	--cadet-gray: hsl(213, 15%, 69%);
	--platinum: #e8e4e8;
	--tan: hsla(33, 47%, 68%, 1);
}
* {
	margin: 0;
	padding: 0;
}
body {
	display: grid;
	grid-template-columns: 18% 81%;
	grid-template-areas: 'navbar portfolio-content';
	grid-gap: 1%;
}
#header,
#navbar {
	position: fixed;
	grid-area: navbar;
}
#navbar {
	display: flex;
	flex-flow: nowrap column;
	width: 18%;
	height: 100vh;
	background: var(--tomato);
}
#primary-info {
	display: flex;
	flex-flow: nowrap column;
	margin: 2em auto;
	align-items: center;
	color: var(--platinum);
	height: 30%;
	justify-content: space-around;
}
#portfolio-img {
	width: 70%;
	border-radius: 50%;
}
.text-info {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}
.text-info h3 {
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
}
#navbar__list {
	display: flex;
	flex-flow: nowrap column;
	height: 30vh;
}
.nav-item a {
	display: flex;
	color: var(--platinum);
	text-decoration: none;
	font-size: 2em;
	justify-content: center;
	width: 100%;
	padding: 0.5em 0;
	border-bottom: 2px solid var(--platinum);
	font-family: 'Karla', sans-serif;
}
.border-left {
	border-top: 2px solid var(--platinum);
}
.nav-item a:hover {
	background: var(--platinum);
	color: var(--gunmetal);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}

#social-media__list {
	display: flex;
	justify-content: space-around;
}
.social-media-item {
	display: flex;
	list-style: none;
	background: rgba(133, 60, 47, 0.53);

	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(2.3px);
	-webkit-backdrop-filter: blur(2.3px);
	border: 1px solid rgba(133, 60, 47, 1);
	margin: 2em 0;
}
.social-media-link {
	font-size: 1.5em;
	padding: 0.5em;
	color: var(--platinum);
	font-weight: bolder;
}
.social-media-link:hover {
	background: var(--platinum);
	color: var(--tomato);
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transform: scale(1.3);
}
#portfolio-content {
	grid-area: portfolio-content;
}
